{% extends 'base.html' %}
{% block title %}Estadísticas{% endblock %}
{% block content %}
    <div class="estadisticas-container">
        <h1>Estadísticas de adopciones</h1>
        <div class="graficos">    
            <figure class="highcharts-figure"></figure>
                <div id="container_lineas" class="highcharts-container"></div>
            </figure>
            <figure class="highcharts-figure">
                <div id="container_torta" class="highcharts-container"></div>
            </figure>
            <figure class="highcharts-figure">
                <div id="container_barras" class="highcharts-container"></div>
            </figure>
        </div>
    </div>
    <a class="boton-nav" href="{{ url_for('index') }}">Volver al inicio</a>

{% endblock %}{% block javascript %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="{{ url_for('static', filename='js/grafico_lineas.js') }}"></script>
    <script src="{{ url_for('static', filename='js/grafico_torta.js') }}"></script>
    <script src ="{{ url_for('static', filename='js/grafico_barras.js') }}"></script>
{% endblock %}